# Entornos y temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Compilaciones y ejecutables
build/
dist/
*.spec
*.exe

# Configuración de editores/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env